/* SPDX-License-Identifier: CC0-1.0 */
body {
	font-family: Liberation Serif, Times New Roman;
	font-weight: "normal";
	font-size: 16px;
	line-height: 1.5;
	text-align: "left";
	margin: 5% auto 5% auto;
	width: 85%;
	max-width: 90ch;
}

h1 {
	font-size: 16px;
	font-weight: bold;
	text-align: center;
}

h2 {
	font-size: 16px;
	font-weight: bold;
	text-align: left;
	text-decoration-line: underline;
}

p {
	padding-left: 10%;
	text-indent: -10%;
}

code {
	font-size: 14px;
	font-weight: "normal";
	font-family: monospace;
	background-color: #E5E4E2;
}
